/* Created by: Zaida Hammel */

/* Created on: March 2021 */

/* This file contains the css styling for index.html */

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

p {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}
\n